/* BASIC RESET */
* { margin: 0; 
    padding: 0;
    box-sizing: border-box;
 }

body {
    font-family: Arial, sans-serif;
    background:  white;
    color: #333;
}

/* HEADER */
.header {
    background: #111;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-weight: bold;
    font-size: 22px;


   
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav a:hover {
    opacity: 0.7;
}
.header button{
    background: #3A59D1;
    padding: 10px 10px;
    font-size: 18px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}




/* HERO SECTION */
.hero {
    height: 80vh; /* Full screen height */
    background-image: url("fontpageimage/login.png");/* Your image path */
    background-size: cover;/* Fill screen */
    background-position: center;/* Center image */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
}

.hero-text {
    max-width: 500px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #2d17bc;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}



/* SECTIONS */
.section {
    padding: 50px 40px;
    background: #FAF7F3;
    margin: 20px 0;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
   
}

/* CATEGORIES */

.categories .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    
}


.card {
    background: #f2f2f2;
    padding: 25px;
    border-radius: 8px;
    transition: 0.3s;

}

.card:hover {
    background: #e0e0e0;
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 15px 10px 5px;
    color: #1d1d1d;
    text-align: center;
}

button {
    background-color: #ff7a00;
    color: rgb(253, 253, 253);
    border: none;
    padding: 12px 115px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
   
}

button:hover {
    background-color: #e56b00;
     text-align: center;
}


/* about */
.about {
  background: #fff;
  padding: 40px;
  margin: 20px;
  line-height: 2;
}

.about h2, h3 {
  color: #463880;
  font-size:xx-large;
  margin-bottom: 5px;
  margin-top: 20px;
}

.about ul {
  margin-top: 15px;
}
main {
  padding: 20px;
}



/* FOOTER */
.footer {
  background: #000B58;
  color: #e9e9f0;
  padding: 40px 0 10px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-box {
  width: 250px;
  margin-bottom: 20px;
}

.footer-box h3 {
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 15px;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 8px;
}

.footer-box ul li a {
  color: #ffffffcc;
  text-decoration: none;
  line-height: 1.8;
}

.footer-box ul li a:hover {
  color: #ffffff;
}

.social-icons a {
  color: #fff;
  font-size:28px;
  margin-right: 28px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #861414;
  background-color: #e56b00;
  padding: 10px 10px;
  border-radius: 200px;

}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 50px;
  font-size: 14px;
}
